@model AppUsuario

<h1 class="bg-info text-white">Actualizar Usuario</h1>
<a asp-action="Index" class="btn btn-secondary">Atrás</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
@*     <div class="form-group">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" disabled />
    </div> *@

    <div class="form-group">
        <label asp-for="Nombres"></label>
        <input asp-for="Nombres" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Apellidos"></label>
        <input asp-for="Apellidos" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input name="Password" type="password" class="form-control" />
    </div>

    <div class="form-group mt-3">
        <label asp-for="TipoDocumento" class="form-label"></label>
        <select asp-for="TipoDocumento" class="form-control">
            <option value="">Selecciona un documento</option>
            <option value="1">Cédula</option>
            <option value="2">Cédula de extranjería</option>
            <option value="3">Pasaporte</option>
        </select>
        <span asp-validation-for="TipoDocumento" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="NumeroDocumento" class="form-label"></label>
        <input asp-for="NumeroDocumento" type="number" class="form-control" />
        <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaNacimiento"></label>
        <input asp-for="FechaNacimiento" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Edad"></label>
        <input asp-for="Edad" class="form-control" type="number" />
    </div>

    <div class="form-group">
        <label asp-for="LugarNacimiento.Pais"></label>
        <select asp-for="LugarNacimiento.Pais" class="form-control">
            <option value="">Selecciona un país</option>
            <option value="01">Colombia</option>
            <!-- Agrega más países si es necesario -->
        </select>
    </div>

    <div class="form-group">
        <label asp-for="LugarNacimiento.Departamento"></label>
        <select asp-for="LugarNacimiento.Departamento" class="form-control">
            <option value="">Selecciona un departamento</option>
            <option value="01">Amazonas</option>
            <option value="05">Antioquia</option>
            <option value="08">Atlántico</option>
            <option value="11">Bogotá, D.C.</option>
            <option value="13">Bolívar</option>
            <option value="15">Boyacá</option>
            <option value="17">Caldas</option>
            <option value="18">Caquetá</option>
            <option value="19">Casanare</option>
            <option value="20">Cauca</option>
            <!-- Agrega más departamentos si es necesario -->
        </select>
    </div>

    <div class="form-group">
        <label asp-for="LugarNacimiento.Municipio"></label>
        <select asp-for="LugarNacimiento.Municipio" class="form-control">
            <option value="">Selecciona un municipio</option>
            <option value="001">Municipio A</option>
            <option value="002">Municipio B</option>
            <!-- Agrega más municipios si es necesario -->
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Domicilio.Direccion"></label>
        <input asp-for="Domicilio.Direccion" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Domicilio.Pais"></label>
        <select asp-for="Domicilio.Pais" class="form-control">
            <option value="">Selecciona un país</option>
            <option value="01">Colombia</option>
            <!-- Agrega más países si es necesario -->
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Domicilio.Departamento"></label>
        <select asp-for="Domicilio.Departamento" class="form-control">
            <option value="">Selecciona un departamento</option>
            <option value="01">Amazonas</option>
            <option value="05">Antioquia</option>
            <option value="08">Atlántico</option>
            <option value="11">Bogotá, D.C.</option>
            <option value="13">Bolívar</option>
            <option value="15">Boyacá</option>
            <option value="17">Caldas</option>
            <option value="18">Caquetá</option>
            <option value="19">Casanare</option>
            <option value="20">Cauca</option>
            <!-- Agrega más departamentos si es necesario -->
        </select>
    </div>


    <div class="form-group">
        <label asp-for="Domicilio.Municipio"></label>
        <select asp-for="Domicilio.Municipio" class="form-control">
            <option value="">Selecciona un municipio</option>
            <option value="001">Municipio A</option>
            <option value="002">Municipio B</option>
            <!-- Agrega más municipios si es necesario -->
        </select>
    </div>

    <div class="form-group">
        <label asp-for="EmailPersonal"></label>
        <input asp-for="EmailPersonal" class="form-control" />
    </div>
@*     <div class="form-group">
        <label asp-for="EmailInstitucional"></label>
        <input asp-for="EmailInstitucional" class="form-control" />
    </div> *@
    <div class="form-group">
        <label asp-for="TelefonoCelular"></label>
        <input asp-for="TelefonoCelular" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TelefonoFijo"></label>
        <input asp-for="TelefonoFijo" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>