@model string

<h1 class="bg-info text-white">Crear un Rol</h1>
<a asp-action="Index" class="btn btn-secondary">Atrás</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input name="nombre" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
